@font-face {
    font-family: "source-sans-pro";
    src: url(source-sans-pro/SourceSansPro-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Spin-Cycle-OT";
    src: url(Spin-Cycle-OT/spincycle_ot.otf);
}

:root {
    --padding-x: 0 168px;
    --paddig-y: 100px 0;
    --padding-x-y: 100px 168px;
    --purple: #c271ff;
    --hover-purple: #a126ff;
    --dark-blue: #071629;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
blockquote {
    margin: 0;
    padding: 0;
    font-family: "source-sans-pro", sans-serif;
}

li {
    list-style: none;
}

button,
a {
    cursor: pointer;
}

header {
    padding: var(--padding-x);
    margin-top: 20px;
    color: #ffffff;
    animation: dragMove-down 1s ease forwards;
}

@keyframes dragMove-down {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 234px;
}

nav img {
    cursor: pointer;
}

nav ul li a {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

nav ul li a:hover {
    color: #8e05f8;
    transform: scale(1.5);
    font-size: 15px;
}

.main-part {
    width: 100%;
    height: 900px;
    color: #ffffff;
}

.for-background {
    background: url("images/Object.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1200px;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get-schooled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    position: relative;
    z-index: 10;
    animation: dragShow 1.5s ease-in-out forwards;
}

@keyframes dragShow {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.get-schooled h1 {
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}

.get-schooled .feature-smile {
    display: flex;
    gap: 50px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}

.get-schooled ul li {
    font-size: 16px;
    font-weight: bold;
}

.btn {
    background-color: var(--purple);
    padding: 16px 26px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--hover-purple);
}

.btn:active {
    opacity: 0.7;
}

.pros {
    margin-top: 200px;
    text-align: center;
    width: inherit;
    position: relative;
    z-index: 10;
}

.pros h2 {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 80px;
}

.pros h2 span {
    font-weight: bold;
    color: var(--purple);
}

.pros .pros-profiles {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-x);
}

.pro-profile {
    width: 150px;
    cursor: pointer;
}

.pro-profile img {
    width: 150px;
    border-radius: 50%;
}

.pro-profile .name {
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.pro-profile .experience {
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 5px;
    transition: color 0.3s;
}

.pro-profile:hover .name,
.pro-profile:hover .experience {
    color: var(--purple);
}

.testmonials {
    padding: var(--padding-x-y);
    background-color: var(--purple);
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
}

.quote {
    color: #ffffff;
}

.quote .quote-text {
    font-weight: 400;
    line-height: 33.6px;
    margin-bottom: 25px;
    font-size: 22px;
}

.quote .qoute-owner {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 22px;
}

.quote .specialization {
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
}

.tutorial {
    text-align: center;
    padding: var(--paddig-y);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorial h2 {
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 80px;
}

.tutorial h2 span {
    color: var(--purple);
    font-weight: bold;
}

.tutorials-list {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    gap: 20px;
}

.tutorials-list .tutorial-video {
    border-radius: 10px;
}

.tutorial-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.tutorial-img .smile-face {
    width: 100%;
    transition: transform 0.3s ease-out;
}

.tutorial-img:hover .smile-face {
    transform: scale(1.1);
}

.tutorial-img .play-icon {
    position: absolute;
    transition: transform 0.3s ease-out;
}

.tutorial-img:hover .play-icon {
    transform: scale(1.3);
}

.tutorial-img:active .play-icon {
    transform: scale(1);
}

.tutorial-description {
    text-align: start;
    padding: 20px 15px;
    }

.tutorial-description h3 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 12px;
    cursor: pointer;
}

.description-text {
    color: #07152780;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
}

.ratter {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 14px 0;
    cursor: pointer;
}

.ratter h4 {
    color: var(--purple);
    transition: color 0.3s ease;
}

.ratter:hover h4 {
    color: var(--hover-purple);
}

.ratter img {
    width: 30px;
}

.ratter p {
    font-weight: 600;
    font-size: 16px;
}

.ratting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ratting .stars {
    display: flex;
    gap: 2px;
}

.ratting p {
    font-weight: 600;
    font-size: 14px;
    color: var(--purple);
}

.free-membership {
    text-align: center;
    padding: var(--paddig-y);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    color: #ffffff;
}

.free-membership h2 {
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 80px;
}

.free-membership h2 span {
    color: var(--purple);
    font-weight: bold;
}

.memberships-grid {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    gap: 20px;
    margin-bottom: 100px;
}

.memberships-grid li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memberships-grid li img {
    width: 43px;
}

.membership-description {
    width: 212px;
    color: #ffffff;
}

.membership-description h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
    margin-top: 18px;
}

.membership-description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.faq {
    padding: var(--padding-x-y);
    text-align: center;
}

.faq h2 {
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 80px;
}

.faq .q-a-list {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content: space-between;
    row-gap: 80px;
}

.question-answer {
    text-align: start;
}

.question-answer .question {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
}

.question-answer .answer {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #07152780;
}

.footer {
    padding: var(--padding-x-y);
    background-color: var(--dark-blue);
    padding-bottom: 40px;
}

.footer-elements {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-elements img {
    cursor: pointer;
}

.footer-elements ul {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    margin-bottom: 60px;
}

.footer-elements ul li {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.footer-elements ul li:hover {
    transform: scale(1.2);
    background-color: var(--hover-purple);
}

.footer-elements ul li:active {
    transform: scale(0.9);
    opacity: 0.7;
}

.footer-elements ul li i {
    color: var(--dark-blue);
    transition: all 0.1s ease-in;
}

.footer-elements ul li:hover i {
    color: #ffffff;
}

.copyright {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #979798;
}